<h2>Home Page</h2>
<article class="home-page">
    <h3>The Value of Money</h3>
    <figure>
        <img src="./img/money-2724235_1920.jpg" alt="https://pixabay.com/photos/money-home-coin-investment-2724235/">
        <figcaption><strong>Source:</strong> pixabay.com</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum imperdiet turpis, vel scelerisque risus cursus id. Proin lobortis erat sit amet sem dictum, eget eleifend nibh ullamcorper. Donec vulputate sapien ac elit suscipit, ac luctus lectus ultricies. Sed ac fermentum nisi, vel hendrerit nisi. Pellentesque auctor tellus mauris, ac porttitor nulla pulvinar sit amet. Praesent id nulla et tellus dictum feugiat eget et velit. Etiam tempor, urna sed elementum elementum, dolor elit accumsan ex, eget congue velit ante ac quam. Ut laoreet auctor velit, eget eleifend diam cursus sed. Sed tristique tincidunt arcu, cursus commodo mi fermentum sed. Sed vel lorem nec tortor luctus viverra sed eget nunc. Duis ex leo, blandit in ultrices et, pellentesque sit amet enim. Nullam malesuada, libero quis varius rhoncus, dolor diam rhoncus arcu, quis lobortis arcu mauris ut ante. Proin id vulputate leo. Pellentesque consequat porta augue. Sed elementum a nulla posuere gravida.</p>
</article>
<hr class="clearfix">
<article class="home-page">
    <h3>Are GMO foods safe?</h3>
    <figure>
        <img src="./img/modified-1744952_1920.jpg" alt=" https://pixabay.com/photos/modified-tomato-genetically-food-1744952/">
        <figcaption><strong>Source:</strong> pixabay.com</figcaption>
    </figure>
    <p>Maecenas sit amet arcu non massa ullamcorper rutrum. Nullam semper rutrum massa, sit amet tempor purus aliquet vitae. Etiam cursus tortor a velit vehicula, tristique laoreet ipsum cursus. Duis lobortis condimentum placerat. Duis iaculis tellus eget ligula facilisis, at convallis risus interdum. Sed non vestibulum leo, id feugiat tortor. Aliquam in nisl tempus ante molestie consequat semper ac felis. Vestibulum id velit eget ex porttitor bibendum. Ut lobortis mi in erat molestie, id blandit odio viverra. Pellentesque rutrum rhoncus enim, in imperdiet est molestie eu. Donec vitae ligula hendrerit, semper velit eu, tristique est. Praesent sodales nulla ipsum, nec ultrices neque scelerisque eu.</p>
</article>
<hr class="clearfix">
<article class="home-page">
    <h3>The World in 2100</h3>
    <figure>
        <img src="./img/space-telescope-532989_1920.jpg" alt="https://pixabay.com/photos/space-telescope-mirror-segments-532989/">
        <figcaption><strong>Source:</strong>  pixabay.com</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum imperdiet turpis, vel scelerisque risus cursus id. Proin lobortis erat sit amet sem dictum, eget eleifend nibh ullamcorper. Donec vulputate sapien ac elit suscipit, ac luctus lectus ultricies. Sed ac fermentum nisi, vel hendrerit nisi. Pellentesque auctor tellus mauris, ac porttitor nulla pulvinar sit amet. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum imperdiet turpis, vel scelerisque risus cursus id. Proin lobortis erat sit amet sem dictum, eget eleifend nibh ullamcorper. Donec vulputate sapien ac elit suscipit, ac luctus lectus ultricies. Sed ac fermentum nisi, vel hendrerit nisi. Pellentesque auctor tellus mauris, ac porttitor nulla pulvinar sit amet. </p>
</article>