<h2>Portfolio</h2>
<article class="portfolio">
    <figure>
        <img src="./img/blue-2721464_640.jpg" alt="https://pixabay.com/illustrations/blue-light-cyan-background-dot-2721464/">
        <figcaption>Blue light</figcaption>
    </figure>
    <figure>
        <img src="./img/circle-2696910_640.jpg" alt="https://pixabay.com/illustrations/circle-concentric-black-seamless-2696910/">
        <figcaption>Circle concentric</figcaption>
    </figure>
    <figure>
        <img src="./img/dot-2721463_640.jpg" alt="https://pixabay.com/illustrations/dot-seamless-pattern-background-2721463/">
        <figcaption>Dot pattern</figcaption>
    </figure>
    <figure>
        <img src="./img/grey-2715737_640.jpg" alt="https://pixabay.com/illustrations/grey-pattern-seamless-geometrical-2715737/">
        <figcaption>Grey pattern</figcaption>
    </figure>
    <figure>
        <img src="./img/modern-2721466_640.jpg" alt="https://pixabay.com/illustrations/modern-background-square-diagonal-2721466/">
        <figcaption>Modern square</figcaption>
    </figure>
    <figure>
        <img src="./img/red-2715733_640.jpg" alt="https://pixabay.com/illustrations/red-star-floral-geometric-pattern-2715733/">
        <figcaption>Red star</figcaption>
    </figure>
</article>